/* Комментарии */
/* ^ - атрибуты начинаются
$ - атрибуты на конце
* - все значения атрибутов с определенным значением
~ - когда в значениях есть пробелы
| - непонятно

Основные виды селекторов
Основных видов селекторов всего несколько:
* – любые элементы.
div – элементы с таким тегом.
#id – элемент с данным id.
.class – элементы с таким классом.
[name="value"] – селекторы на атрибут (см. далее).
:visited – «псевдоклассы», остальные разные условия на элемент (см. далее).
Селекторы можно комбинировать, записывая последовательно, без пробела:
.c1.c2 – элементы одновременно с двумя классами c1 и c2
a#id.c1.c2:visited – элемент a с данным id, классами c1 и c2, и псевдоклассом visited
*/
* {
  /* margin: 0; */
  /* padding: 0; */
  cursor: url(/img/cur/chrome/1.png), url(/img/cur/3.ani), default;
  animation: cursor 600ms infinite;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #edeef0;
}
header {
  background: #4497c5;
  font-weight: 500;
  /* position: sticky; */
  /* position: relative; */
  top: 0;
  box-shadow: 0 5px 5px #4497c5;
  /* opacity: 0.5; */
  /* width: 100%; */
}
p {
  margin: 10px;
}
.h-title {
  text-align: center;
  margin: 20px 0 10px;
}
.general {
  display: flex;
  flex-flow: column wrap;
  /* flex-direction: column; */
}
.main__content {
  width: 70%;
  /* max-width: 1000px; */
  /* padding: 0; */
  /* margin: 0 150px 0 150px; */
  /* align-content: center; */
  text-align: center;
  align-self: center;
}
.main__content-list {
  display: flex;
  flex-wrap: wrap;
}
.main__content-info {
  display: flex;
  flex-wrap: no-wrap;
}
.main__content__about-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.desc-item-info,
.desc-item-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 300px; */
  /* height: 100px; */
  /* width: 400px; */
}
.desc-item-info .desc-item-price,
img {
  margin-top: 10px;
  width: 60px;
  /* height: 30px; */
}
.desc-item-info .desc-item-price {
  /* width: 60px; */
}

.main_content__about-desc-item {
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
}
.desc-item-img {
  margin: 0 5px;
  width: 60px;
  height: 60px;
}
.desc-item-text {
  background: rgba(169, 47, 255, 0.1);
  max-height: 80px;
  padding: 10px;
  text-align: center;
  /* flex-wrap: wrap; */
}
.mini-title {
  color: #4497c5;
  font-weight: bold;
}
form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin: 10px;
}
.form-item {
  background-color: #fff;
  border: none;
  width: 400px;
  margin: 10px;
  padding: 10px 10px;
}
.textarea {
  max-height: 300px;
  height: 150px;
  width: 400px;
  max-width: 400px;
  min-width: 400px;
}
.btn {
  background-color: #4497c5;
  width: 200px;
  align-self: center;
  border-radius: 0 20px 0 10px;
  /* cursor: pointer; */
  outline: none;
}
.btn:active {
  box-shadow: 0 0 5px #000000;
}
.list-items {
  margin: 10px;
  border-radius: 0 20px 0 10px;
  width: 300px;
  height: 300px;
  /* padding: 0; */
}
.main__content-list img:hover {
  /* box-shadow: 5px 5px 30px #4497c5; */
  /* border-radius: 20px 0 10px 0; */

  animation: shadow-drop-2-bottom 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

  /* animation: wobble-hor-bottom 0.8s both; */
}

.insta {
  animation: heartbeat 1.5s ease-in-out infinite both;
  width: 40px;
}
.insta:active {
  /* box-shadow: 0 0 5px #000000; */
  filter: drop-shadow(0 0 10px rgba(169, 47, 255, 1));
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 10px;
  align-items: center;
  justify-content: space-between;
}
.name,
.contacts-item {
  font-size: 24px;
  color: #d8d8d8;
}
.contacts-item {
  text-decoration: none;
}
.title {
  font-size: 36px;
  margin: 0 auto;
}
.userpic-img {
  margin-right: 150px;
  width: 70px;
  left: 5px;
  top: 5px;
  border-radius: 15px;
}
.contacts-item:hover {
  color: brown;
}
/* MAIN */
.main__content-contacts {
  /* display: flex; */
}

.Photo {
  width: 500px;
  /* height: 300px; */
  /* height: 350px; */
  border-radius: 5px;
}
/* MAIN END */
/* FOOOTER */
footer {
  background-color: #3f4141;
  height: 50px;
  padding: 5px 10px;
}
.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-author {
  color: #6a6a6b;
  font-size: 15px;
}
.social-img {
  width: 30px;
  filter: opacity(0.3);
}
.social-img:hover {
  width: 30px;
  filter: opacity(1);
}
/* FOOTER END */
#glitch_canvas {
  position: absolute;
  margin: auto;
  width: 900px;
  height: 1000px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
